.container {
  max-width: 65rem;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  color: rgb(52, 23, 147);
  margin-top: 5rem;
  font-size: 30px;
}

.title {
  color: #02203d;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedbacks {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.feedback {
  background-color: rgb(243, 238, 238);
  padding: 20px;
  border-radius: 15px;
  box-shadow: #111;
  margin-bottom: 2rem;
  width: 400px;
  height: 550px;
}

@media (max-width: 500px) {
  .container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
  }
  .feedbacks {
    display: flex;
    flex-direction: column;
  }
}
