.container {
  height: 350px;
  background-color: #570fe6;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  align-items: center;
}

.title {
  font-size: 30px;
}

.linkTitle {
  font-size: 26px;
  text-decoration: underline;
  color: rgb(19, 8, 24);
}

.linkText {
  padding: 0.5rem;
}

.cartItem {
  padding: 0.25rem;
  font-size: 20px;
}

.cartItem i {
  font-size: 40px;
  padding: 10px;
}

.icons {
  color: #fff;
}

.social span {
  font-size: 26px;
  padding: 7px;
}

@media (max-width: 500px) {
  .container {
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
