.container {
  height: 75px;
  background-color: #5e17eb;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: relative;
  height: 90px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.title {
  color: #fff;
  cursor: pointer;
}

.listItem {
  display: inline;
  margin-right: 30px;
  font-size: 23px;
  cursor: pointer;
}

.listItem:last-child {
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 14px;
}

.logoImage {
  display: none;
}

.menu {
  display: none;
}

.humrbger {
  display: none;
}

.line {
  display: none;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 500px) {
  .list {
    display: none;
  }
  .container {
    padding: 0 20px;
  }
  .listItem {
    display: flex;
    height: 300px;
  }

  .humrbger {
    top: 0;
    left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }

  .line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .logoImage {
    display: block;
  }

  .menu {
    display: block;
    right: 0;
    position: absolute;
    width: 60vw;
    height: 650px;
    background-color: #5e17eb;
    color: #fff;
    margin: 0;
    padding: 0;
    top: 90px;
    z-index: 999;
    animation: slideInFromRight 0.3s ease-in;
    overflow: none;
  }

  .menuUl li {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 26px;
    list-style: none;
  }
}
