.container {
  max-width: 900px;
  margin: auto;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding: 1rem;
}

.span {
  color: rgb(58, 19, 184);
  margin-left: 0.5rem;
}

.span i {
  color: rgb(58, 19, 184);
  padding-right: 0.5rem;
}

.characters {
  display: flex;
  flex: start;
}

.card {
  border: 1px solid rgb(85, 19, 151);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  /* background-color: rgb(228, 214, 214); */
  color: #111;
  border-radius: 15px;
}

.card:nth-child(2) {
  background-color: rgb(241, 241, 241);
  /* background: conic-gradient(rgb(4, 84, 214), rgb(74, 61, 176)); */
  color: #111;
  border: 2px solid rgb(4, 84, 214);
}

.title {
  margin-top: -1.7rem;
  font-size: 28px;
  color: rgb(74, 61, 176);
  border-bottom: 0.1px solid rgb(74, 61, 176);
}

.price {
  font-size: 32px;
  color: rgb(74, 61, 176);
  border-bottom: 0.1px solid rgb(74, 61, 176);
}

.button {
  margin-top: 1rem;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  background-color: rgb(74, 61, 176);
  color: #fff;
}

.button:hover {
  transform: scale(1.1);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 500px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .container {
    max-width: 1000px;
    margin: auto;
    cursor: pointer;
    padding: 4rem;
  }
}
