.container {
  max-width: 45rem;
  margin: auto;
  padding: 3rem;
}

.card {
  background-color: rgb(83, 12, 199);
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.inputSmall {
  padding: 15px;
  overflow: none;
  outline: none;
  width: 100%;
  border: solid 1px indigo;
  font-size: 20px;
}

.title2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(247, 245, 248);
  font-size: 25px;
}

.textarea {
  padding: 15px;
  overflow: none;
  outline: none;
  width: 100%;
  border: solid 1px indigo;
  font-size: 20px;
}

.button {
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  border: none;
  background-color: rgb(241, 235, 245);
  color: rgb(107, 1, 228);
  font-size: 20px;
  cursor: pointer;
  height: 50px;
}
