.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(0, 22, 54);
  padding: 50px;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.inputSmall {
  padding: 15px;
  overflow: none;
  width: 100%;
  border: solid 1px indigo;
  font-size: 20px;
}

.title2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: indigo;
  font-size: 25px;
}

.textarea {
  padding: 15px;
  overflow: none;
  width: 100%;
  border: solid 1px indigo;
  font-size: 20px;
}

.button {
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  border: none;
  background-color: indigo;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
}
